RewriteEngine On
RewriteBase /

# Permitir acesso a arquivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar todas as outras requisições para index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
