/* Estilo específico para a página de login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.login-container button {
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: var(--hover-text-color);
    cursor: pointer;
}

.login-container .erro {
    color: var(--hover-color);
    margin-bottom: 15px;
}
